@page "/blazorjs"
@inject IJSRuntime JsRuntime

<h3>Blazor JS</h3>

<div class="row">
    <button class="btn btn-secondary" @onclick="TestConfirmBox">Test Confirm Button</button>
</div>

<div class="row">
    @if (ConfirmResult)
    {
        <p>Confirmation has been made</p>
    }
    else
    {
        <p>Pending Confirmation</p>
    }
</div>

<div class="row">
    <button class="btn btn-success m-2" style="width:200px" @onclick="ToastrSuccess">Toastr Success</button>
    <button class="btn btn-danger m-2" style="width:200px" @onclick="ToastrError">Toastr Failure</button>
</div>

<div class="row">
    <button class="btn btn-success m-2" style="width:200px" @onclick="SweetalertSuccess">Sweetalert Success</button>
    <button class="btn btn-danger m-2" style="width:200px" @onclick="SweetalertFailure">Sweetalert Failure</button>
</div>

@code {
    private string ConfirmMessage = "Are you sure you want to click here?";
    private bool ConfirmResult { get; set; }

    private async Task TestConfirmBox()
    {
        ConfirmResult = await JsRuntime.InvokeAsync<bool>("confirm", ConfirmMessage);
    }

    private async Task ToastrSuccess(MouseEventArgs arg)
    {
        // await JsRuntime.InvokeVoidAsync("showToastr", "success", "Success Notification");
        await JsRuntime.ToastrSuccess("Success Notification");
    }

    private async Task ToastrError(MouseEventArgs arg)
    {
        // await JsRuntime.InvokeVoidAsync("showToastr", "error", "Error Notification");
        await JsRuntime.ToastrError("Error Notification");
    }

    private async Task SweetalertSuccess()
    {
        await JsRuntime.ToastrSuccess("Success Notification");
    }

    private async Task SweetalertFailure()
    {
        await JsRuntime.ToastrError("Error Notification");
    }

}