@using BlazorApp1.Models
<div class="bg-light border m-1 col-5">
    <h4 class="text-secondary">Product - @Product.Id</h4>
    <input type="checkbox" @onchange="FavoriteUpdated"/> Add to Favorite <br><br>
    
    Name - @Product.Name
    Show Properties:
    <input type="checkbox" @bind="Product.IsActive"/>

    @if (Product.IsActive)
    {
    @foreach (var prodProp in Product.ProductProperties)
    {
    <p>@prodProp.Key - @prodProp.Value</p>
    }
    }

    <br/>
    <_DeleteButtonComponent ProductId="Product.Id"/>
</div>

@code {
    [Parameter]
    public Product? Product { get; set; }
    
    [Parameter] public EventCallback<bool> OnFavoriteUpdate { get; set; }

    private async Task FavoriteUpdated(ChangeEventArgs args)
    {
        await OnFavoriteUpdate.InvokeAsync((bool)(args.Value ?? false));
    }

}